

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f4f4f4;
    color: #333;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #0a3d62;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

.texts p {
    margin: 0 15px;
    cursor: pointer;
}

#login {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#login p {
    margin-right: 10px;
}

#login-form {
    display: none;
    position: fixed;
    top: 50%; 
    right: 50%;
    left: 50%; 
   justify-content: center;
    background-color: white;
    padding:20px;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


#login-form input[type="text"], 
#login-form input[type="password"] {
    width: 500px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}


#login-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#login-form input[type="submit"]:hover {
    background-color: #0056b3;
}
.login-active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}
#fakeheader {
    height: 80px;
}
#main {
    text-align: center;
    margin-top: 50px;
}
#page1 {
    padding: 100px 20px;
    background: url('https://cdn.pixabay.com/photo/2020/03/22/16/08/hampi-4958160_960_720.jpg') no-repeat center center/cover;
    color: white;
}
.texts a{
    color: #fff;
}

nav{
    
    width:20%;
    margin-left: 76%;
    translate: translateX(-50%);
    padding:10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    top: 500%;
   background-color: #ffffffaf;
   
}

#page1 h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: black;
}

#page1 h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

#page1 h3 {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#page1 button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
/* From Uiverse.io by xueyuantan 
#page1 button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   #page1 button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   #page1 button:hover::before {
    width: 9em;
   }*/
#page1 video{
    z-index: -1;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
}

#page1 button:first-child {
    background-color: #2980b9;
    color: white;
}

#page1 button:last-child {
    background-color: #e74c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 button:last-child i {
    margin-left: 5px;
}

#bookingModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    width:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}
#bookingModal{
    color:#0056b3
}

#bookingform {
    display: flex;
    flex-direction: column;
}

#bookingform label {
    margin-top: 10px;
}

#bookingform input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

#bookingform input[type="submit"],
#bookingform input[type="reset"] {
    background-color: #2980b9;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#page2 {
    padding: 50px 20px;
    background-color: #fff;
}

#page2 b {
    font-size: 36px;
}

#page2 p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

#services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}


#card1 {
    width: 200px;
    height: 200px;
    background-color: #0a3d62;
    color: white;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
#card2 {
    width: 200px;
    height: 200px;
    background-color: #0a3d62;
    color: white;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
#card3 {
    width: 200px;
    height: 200px;
    background-color: #0a3d62;
    color: white;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
#card4 {
    width: 200px;
    height: 200px;
    background-color: #0a3d62;
    color: white;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
#card5{
    width: 200px;
    height: 200px;
    background-color: #0a3d62;
    color: white;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
#services div:hover, #card1 #card2 #card3 #card4 #card5:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


#page3 {
    padding: 50px 20px;
    background-color: #ecf0f1;
}

#page3 b {
    font-size: 36px;
}

#page3 p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

#packages {
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
    display: flex;
   
   
}


.boxes {
    width: 300px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-weight: bolder;
   
}

.boxes img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxes p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.boxes button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#packages div:hover, .boxes:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#grievance
{
    height: 50%;
    width: 50%;
    margin-left: 25%;
    background-color: #ecf0f1;
    
}
#grievance button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
}


#page4 {
    padding: 50px 20px;
    background-color: #fff;
}

#box1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card1, .card2 {
    background-color: #ecf0f1;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card1 img, .card2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card1 h2, .card2 h2 {

    
    margin-bottom: 10px;
    font-size: 20px;
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.stars i {
    color: #f39c12;
    margin: 0 2px;
}

.card1 p, .card2 p {
    font-size: 14px;
    color: #555;
}